*.Rhistory
*.bam
*.sam
*.fastq
*.o*
*.sqd
*.RData
*.bai
.bpipe/
*.csv
pre_git/
*cache*
*html
variants/
mapq/
*.cov
*.fa
tmp/
*.gz
Basecall_Stats*/
Undetermined_indices/
*.zip
Temp/
*.vcf
Translated*/
